<div class="max-w-4xl mx-auto">
  <!-- Projects -->
  <div class="pb-10">
    <h1>Projects</h1>
    <hr />

    @if (projects.length > 0) {
      <div class="flex flex-col gap-5">
        @for (project of projects; track (project.slug ?? project.title)) {
          @if (project.externalUrl) {
            <a [href]="project.externalUrl" target="_blank" rel="noopener noreferrer" class="group">
              <div class="flex justify-between w-full">
                <h2 class="font-bold text-cyan-500 group-hover:underline">{{ project.title }}</h2>
                <div class="min-w-fit">{{ project.publishDate | date: 'MMM d, yyyy' }}</div>
              </div>
              <div>{{ project.summary }}</div>
            </a>
          } @else {
            <a [routerLink]="['/projects', project.slug]" class="group">
              <div class="flex justify-between w-full">
                <h2 class="font-bold text-cyan-500 group-hover:underline">{{ project.title }}</h2>
                <div class="min-w-fit">{{ project.publishDate | date: 'MMM d, yyyy' }}</div>
              </div>
              <div>{{ project.summary }}</div>
            </a>
          }
        }
      </div>
    } @else {
      <p>No projects available.</p>
    }
  </div>
</div>
